@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: hidden;
}

@theme {
  --color-customPink: #ffc0cb;
  --color-customBlue: #c0fff4;
  --color-ghost-white: #F8F8FF;
}

body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}

.page-transition {
  opacity: 0;
  background-color: #ffc0cb;
  transform: translateY(40px);
  filter: blur(12px);
}
